<html>
    <body>
        <h1>update Your Profile</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="firstName">First Name:</label>
            <input type="text" name="firstName" placeholder="Enter your first name"><br>
            <label for="lastName">Last Name:</label>
            <input type="text" name="lastName" placeholder="Enter your last name"><br>
            <label for="year">Class:</label>
            <input type="text" name="year" placeholder="Enter your class"><br>
            <label for="division">Division:</label>
            <input type="text" name="division" placeholder="Enter your division"><br>
            <label for="rollno">Roll No:</label>
            <input type="text" name="rollno" placeholder="Enter your roll number"><br>
            <label for="mobileno">Mobile Number:</label>
            <input type="text" name="mobileno" placeholder="Enter your mobile number"><br>
            <label for="cgpa">CGPA:</label>
            <input type="text" name="cgpa" placeholder="Enter your cgpa"><br>
            <label for="bio">BIO:</label>
            <input type="text" name="bio" placeholder="Enter your information"><br>
            <button type="submit" value="Update Profile">Update</button>
        </form>
        <h1>
            {% if request.method == "POST" %}
                <h1>{{ form }}</h1>
            {% endif %}
        </h1>
    </body>
</html>