

{% extends 'student/dashboard.html' %}

{% block containt %}

<!--<script type="text/javascript">
    $(function () {
        $("#btnGet").click(function () {
            //Create an Array.
            var selected = new Array();
 
            //Reference the CheckBoxes and insert the checked CheckBox value in Array.
            $("#tbl input[type=checkbox]:checked").each(function () {
                selected.push(this.value);
            });
 
            //Display the selected CheckBox values.
            if (selected.length > 0) {
              document.getElementById("TheBody").innerHTML = selected.join(",");
            }
        });
    })
    /*var form = document.getElementById('tbl');
form.elements.province.onchange = function () {
    var form = this.form;
    form.elements.showtax.value = taxCodes[this.value];
};*/
</script>-->
<form method="POST" id="tbl" action= "{% url 'registerGroup' %}">
    {% csrf_token %}
<div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Create Group</h4>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped" id="tbl"> 
            <thead class="text-primary">
              <th class="text-center">
                Roll Number
              </th>
              <th class="text-center">
              </th>
              <th>
                Name
              </th>
            </thead>
            <tbody>
                {% for student in students %}
              <tr>
                <td class="text-center">
                    
                    {{ student.rollNo }}
                </td>
                    
                <td class="text-center">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" name="checks[]" value="{{ student.rollNo }}" >
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>

                <td>
                    {{ student.firstName }} 
                    {{ student.lastName }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <center>
          <button type="submit" name="createGroup" value="Create Group" class="btn btn-primary">Create Group
          </button>
        </center>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock %}