<html>
    <body>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <h1>SignUp</h1>
            <label for="username">Roll No:</label>
            <input id="username" type="text" name="username" required>
            <label for="email">Email:</label>
            <input id="email" type="email" name="email" required>
            <label for="password1">Password:</label>
            <input id="password1" type="password" name="password1" required>
            <label for="password2">Confirm Password:</label>
            <input id="password2" type="password" name="password2"required>
            <button type="submit" value="signup">Get Started</button> 
        </form>
    </body>
</html>