
{% extends 'student/base.html' %}

{% block containt %}
<br>
<center>
<div class="col-md-6">
    <div class="card ">
      <div class="card-header ">
        <h2 class="card-title">Student Login</h2>
      </div>
      
      <hr>
      <div class="card-body ">
        <form class="form-horizontal" method="POST" action= "{% url 'studentValidate' %}">
            {% csrf_token %}
            <div class="row">
            <label class="col-md-3 col-form-label" for="userName" >Username</label>
            <div class="col-md-9">
              <div class="form-group">
                <input type="text" class="form-control" name="userName" value="userName" placeholder="Enter your username">
              </div>
            </div>
          </div>

          <div class="row">
            <label class="col-md-3 col-form-label" for="Password">Password</label>
            <div class="col-md-9">
              <div class="form-group">
                <input type="password" class="form-control" name="password" value="password" placeholder="Enter your password">
              </div>
            </div>
          </div>
        
      </div>
      <div class="card-footer ">
        <div class="row">
          <label class="col-md-3"></label>
          <div class="col-md-9">
            <button type="submit" class="btn btn-info btn-round" value="Submit">Sign in</button>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="button-container">
            <div class="row">
              <div class=" col-md-8 ">
                <h5>
                  <br>
                  <small>Not user yet? Ok</small> <a href="{% url 'studentSignUp' %}">SignUp now!</a>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
      <br>
      <br>
    </div>
  </div>
</center>


{% endblock %}