

{% extends 'student/base.html' %}

{% block containt %}
<br>
<!--
        <h1>update Your Profile</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="firstName">First Name:</label>
            <input type="text" name="firstName" placeholder="Enter your first name"><br>
            <label for="lastName">Last Name:</label>
            <input type="text" name="lastName" placeholder="Enter your last name"><br>
            <label for="mobileno">Mobile Number:</label>
            <input type="text" name="mobileno" placeholder="Enter your mobile number"><br>
            <label for="bio">BIO:</label>
            <input type="text" name="bio" placeholder="Enter your information"><br>
            <button type="submit" value="Update Profile">Update</button>
        </form>
        <h1>
            {% if request.method == "POST" %}
                <h1>{{ form }}</h1>
            {% endif %}
        </h1>
-->



<div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Edit Profile</h5>
      </div>
      <div class="card-body">
        <form method="POST">
            {% csrf_token %}
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" class="form-control" placeholder="Amlya" value="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" name="lastName" class="form-control" placeholder="Bhadane" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="col-md-3 pl-1">
                <div class="form-group">
                  <label for="mobileno">Mobile Number </label>
                  <input type="number" name="mobileno" class="form-control" placeholder=" 9049444507">
                </div>
              </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="bio">About Me</label>
                <textarea rows="4" name="bio" cols="80" class="form-control textarea">I am Computer Engineer student and good web-developer.</textarea>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary" value="Update Profile">Update Profile</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% endblock %}