{% extends 'student/base.html' %}

{% block containt %}
<br>
<center>
<div class="col-md-8">
    <form id="TypeValidation" class="form-horizontal" action="#" method="POST">
      {% csrf_token %}
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">Guide SignUp</h4>
        </div>
        <div class="card-body ">
          <div class="row">
            <label class="col-sm-2 col-form-label" for="username"> Username</label>
            <div class="col-sm-7">
              <div class="form-group">
                <input class="form-control" for="username" type="text" placeholder="MrAmlya" name="required" required="true" />
              </div>
            </div>
            <label class="col-sm-3 label-on-right">
              <code>required</code>
            </label>
          </div>
          <div class="row">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-7">
              <div class="form-group">
                <input class="form-control" type="text" for="email" placeholder="amlyabhadane@gmail.com" name="email" email="true" required="true" />
              </div>
            </div>
            <label class="col-sm-3 label-on-right">
              <code>email="true"</code>
            </label>
          </div>
          
          <div class="row">
            <label class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-3">
              <div class="form-group">
                <input class="form-control" id="password1" type="password" placeholder="Password" required="true"/>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <input class="form-control" id="password2" type="password" placeholder="Confirm Password" equalTo="#idSource" required="true" />
              </div>
            </div>
            <label class="col-sm-4 label-on-right">
              <code>equalTo="#idSource"</code>
            </label>
          </div>
        </div>
        <div class="card-footer text-center">
          <button type="submit" class="btn btn-primary" value="signup">SignUp</button>
        </div>
      </div>
    </form>
</div>
</center>
{% endblock %}